{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_navbar.html' with title="SHOP"%}

<h1>Data: {{data|add:'6'}}</h1>
          <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
              {% for s in students %}
        <div class="card" style="min-width: 250px; margin: .5rem;">
            {% if s.image %}
            <img src="{{s.image.url}}" class="card-img-top" alt="..." height="150">
            {% else %}
            <img src="{% static 'img/profile.png' %}" class="card-img-top" alt="..." height="150">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title {% cycle 'red' 'green' 'yellow' %}">Name: {{s.name}}</h5>
              <p class="card-text">Age: {{s.age}} Years Old</p>
              <p class="card-text">Heigth: {{s.height}}cm</p>
              <p class="card-text">Creaded At: {{s.created|date:"Y/m/d"}}</p>
              <a href="{% url 'students:update' s.id %}" class="btn btn-primary">Update</a>
              <form action="{% url 'students:delete' s.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete" class="btn btn-danger">
              </form>
              <a href="{% url 'students:detail' s.id %}" class="btn btn-info">View More ...
              </a>
            </div>
        </div>
        {% empty %}
        <h3>No students available.</h3>
        {% endfor %}
    </div>
{% endblock content %}